<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app='yrapp' class="no-js">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Your.Rentals Manage Payment App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Optional Bootstrap theme -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <!-- <link rel="stylesheet" href="app/app.css"> -->
  </head>
  <body ng-controller='MainCtrl'>
    <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="container">
      <div class="page-header">
        <h1>Manage Your Payment Methods</h1>
      </div>
      <div class="container panel panel-default">
        <ul class="list-group">
          <li class="row list-group-item" yr-payment-entry payment="payment" delete-payment='deletePayment($index)' make-default='makeDefault($index)' ng-repeat="payment in payments track by $index"></li>
          <li class="list-group-item" ng-show="showAddFormFlag">
            <div class="row">
              <label class="col-sm-4" for="cardNumber">Card Number</label>
              <label class="col-sm-2 text-center" for="month">Expiration</label>
              <label class="col-sm-1 text-center" for="month">CVC</label>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <input type="text" class="form-control" id="" placeholder="Card Number">
              </div>
              <div class="col-sm-1">
                <input type="text" class="form-control" id="" placeholder="MM">
              </div>
              <div class="col-sm-1">
                <input type="text" class="form-control" id="" placeholder="YY">
              </div>
              <div class="col-sm-1">
                <input type="text" class="form-control" id="" placeholder="CVC">
              </div>
              <div class="col-sm-5">
                <div class="row">
                  <button type="button" class="btn btn-default col-xs-5 col-xs-offset-1" ng-click="toggleAddForm(false)">Cancel</button>
                  <button type="button" class="btn btn-primary col-xs-5 col-xs-offset-1">Add</button>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <button type="button" class="btn btn-primary" ng-click="toggleAddForm(true)" ng-hide="showAddFormFlag">Add New</button>
    </div>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="app/app.js"></script>
    <script src="app/filters/cardNumberFilter.js"></script>
    <script src="app/payment/PaymentCtrl.js"></script>
    <script src="app/payment/yrPaymentEntry.js"></script>
  </body>
</html>